@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: #2c3e50;
    color: #ecf0f1;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

main {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.title {
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    background-color: #34495e;
    border-bottom: 2px #ecf0f1 solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}

input {
    border: 1px #ecf0f1 solid;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-size: 18px;
}

button {
    padding: 10px 25px;
    font-size: 16px;
    color: #34495e;
    background-color: #ecf0f1;
    border: 2px solid #34495e;
    border-radius: 5px;
    transition: 400ms color, 400ms background, 400ms border;
    margin-bottom: 40px;
}

button:hover {
    color: #ecf0f1;
    border: 2px solid #ecf0f1;
    background-color: #34495e;
}

.coins {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-weight: bold;
}

.coins div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.coins div img {
    width: 30px;
    margin-right: 10px;
}

.coins div span {
    font-weight: normal;
    margin-left: 5px;
} 

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    width: 300px;
}

.form-group label {
    text-transform: uppercase;
}